.worksBlock {
  font-family: "Montserrat";
  padding: 60px 0;
  border-bottom: solid 1px black;
  .worksBlock_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .worksBlock_subtitle {
      font-size: 14px;
      text-transform: uppercase;
      color: #f9004d;
      letter-spacing: 1px;
      line-height: 14px;
      margin: 0;
    }
    .worksBlock_title {
      font-size: 50px;
      font-weight: 700;
      line-height: 1.2;
      color: #c4cfde;
      margin: 0px;
      padding: 0;
    }
    .worksBlock_content {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}

/* ============================================================================= */

.work {
  flex: 0 1 40%;
  display: flex;
  border-radius: 10px;
  .inner {
    padding: 30px;
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    .work_imageWrapper {
      box-sizing: border-box;
      margin-bottom: 25px;
      height: 240px;
      overflow: hidden;
      border-radius: 10px;
      .work_imageLink {
        display: block;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: none;
        text-decoration: none;
        transition: all 0.4s ease-in-out 0s;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        line-height: 0;
        img {
          object-fit: fill;
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: 0.4s all ease-in-out;
        }
      }
    }
  }
}

.inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
  transition: 0.5s all ease-in-out;
}
.inner:hover.inner::before {
  opacity: 1;
}
.inner:hover .work_imageLink img {
  transform: scale(1.07, 1.07);
}

.description_title {
  margin: 0;
}
.description_link {
  display: block;
  color: #c4cfde;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px;
  text-decoration: none;
  position: relative;
  transition: 0.4s all ease-in-out;
}

.description_link i {
  font-size: 1;
  position: relative;
  top: 10px;
  transition: 0.4s all ease-in-out;
  opacity: 0;
  font-style: normal;
}
.description_link i::before {
  color: #c4cfde;
  transition: 0.4s all ease-in-out;
  content: "<";
  text-transform: uppercase;
}
.description_link:hover {
  color: #ff014f;
}
.description_link:hover i {
  opacity: 1;
  top: 0px;
}
.description_link:hover i::before {
  color: #ff014f;
}
.description_text {
  margin: 0;
  color: #c4cfde;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
}

/* ========================================================================== */

@media (max-width: 768px) {
  .worksBlock_content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .work {
    max-width: 75%;
  }
  .worksBlock_title {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .work {
    max-width: 90%;
  }
}
