.skillsBlock {
  background-color: rgb(59, 7, 122);
}
.skillBlock_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skillsBlock_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.skill_icon {
  width: 40px;
  height: 40px;
}
.skill_icon img {
  width: 100%;
  fill: white;
}
@media (max-width: 768px) {
  .skillsBlock_content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
